html
  head 
    title Who is my representative?
  body
    form(action='/' method='get')
      select(name='type')
        option(value='zip' selected=(query.type === 'zip')) Zip
        option(value='state' selected=(query.type === 'name')) State
        option(value='name' selected=(query.type === 'state')) Name
      input(name='search' placeholder='Search')
      button Search
      
    div.results
      if reps
        for rep in reps
          li
            p= rep.name
            p= rep.state
            p= rep.phone
